<a href="https://colab.research.google.com/github/dp1500/Football-Match-Prediction/blob/main/Score_Line_predictor_and_2021_premier_league_season_simulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sim_data_for_model_training.csv")

In [ ]:
df_main_for_ordinal = df.copy()

## encoding

In [ ]:
# import pandas as pd

# Step 1: Calculate total goals scored by each team
team_goals = df_main_for_ordinal.groupby('home_team')['home_goals'].sum().reset_index()
away_team_goals = df_main_for_ordinal.groupby('away_team')['away_goals'].sum().reset_index()
team_goals['away_goals'] = away_team_goals['away_goals']

# Step 2: Sort the team_goals DataFrame by total goals
team_goals = team_goals.sort_values(by=['home_goals', 'away_goals'], ascending=False)

# Step 3: Create a dictionary to map team to ranking
team_ranking = {team: rank for rank, team in enumerate(team_goals['home_team'])}

# Step 4: Define custom ordinal encoding function
def custom_ordinal_encoding(x):
    return team_ranking.get(x, -1)

# Step 5: Apply custom ordinal encoding to home_team and away_team columns
df_main_for_ordinal['home_team_encoded'] = df_main_for_ordinal['home_team'].map(custom_ordinal_encoding)
df_main_for_ordinal['away_team_encoded'] = df_main_for_ordinal['away_team'].map(custom_ordinal_encoding)

In [ ]:
df_main_for_ordinal.head(-10)

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,...,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,season,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,3-4-1-2,83,244,410,111,730,647,4-2-3-1,...,465,164,165,791,747,1,2,2014,5,19
1,Leicester City,Everton,4-4-2,74,277,277,143,715,704,4-2-3-1,...,294,295,89,696,694,2,2,2014,6,7
2,Queens Park Rangers,Hull City,3-5-2,75,253,390,98,675,767,3-4-2-1,...,251,478,25,698,737,0,1,2014,28,22
3,Stoke City,Aston Villa,4-2-3-1,82,294,300,155,751,719,4-2-3-1,...,257,347,126,717,762,0,1,2014,17,14
4,West Bromwich Albion,Sunderland,4-4-1-1,78,285,297,139,724,720,4-1-4-1,...,226,375,148,756,727,2,2,2014,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,Manchester City,Newcastle United,4-2-3-1,89,339,262,255,814,720,4-3-3,...,219,318,313,840,754,5,0,2021,0,10
2924,Aston Villa,Liverpool,4-3-1-2,84,285,281,210,791,731,4-3-3,...,205,356,191,723,687,1,2,2021,14,1
2925,Leeds United,Chelsea,5-4-1,77,303,457,0,761,684,3-4-2-1,...,333,320,103,776,701,0,3,2021,23,4
2926,Leicester City,Norwich City,4-2-3-1,85,338,344,112,750,682,4-1-4-1,...,282,360,129,750,694,3,0,2021,6,20
2927,Watford,Everton,4-3-3,78,265,253,191,688,685,5-4-1,...,171,320,246,713,745,0,0,2021,12,7

In [ ]:
df_main = df.copy()

In [ ]:
len(df)

2938

## using season 14 to 20 for training and 21 for simulation

In [ ]:
training_data = df_main_for_ordinal.loc[df['season'] < 2021]
test_data = df_main_for_ordinal.loc[df['season'] == 2021]

test_data.head()

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,...,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,season,home_team_encoded,away_team_encoded
2562,Brentford,Arsenal,3-5-2,74,298,221,222,769,758,4-2-3-1,...,353,209,144,707,720,2,0,2021,27,2
2563,Manchester United,Leeds United,4-2-3-1,84,331,414,85,820,758,4-1-4-1,...,368,226,220,770,801,5,1,2021,5,23
2564,Burnley,Brighton & Hove Albion,4-4-2,83,312,306,153,748,744,4-1-4-1,...,232,378,155,777,732,1,2,2021,13,16
2565,Chelsea,Crystal Palace,3-4-2-1,83,398,251,166,779,691,4-4-2,...,405,187,198,726,756,3,0,2021,4,11
2566,Everton,Southampton,4-2-3-1,83,319,239,238,785,724,4-4-2,...,248,339,187,723,731,3,1,2021,7,9

In [ ]:
len(training_data['formation'].unique())

21

### checking what formations have resullted in what amount of home goals

In [ ]:
df_grouped = training_data.groupby(by="formation")["home_goals"].sum()
df_grouped.sort_values()

formation
4-1-3-2         2
3-3-3-1         4
3-4-3-d         5
4-3-2-1         8
3-5-1-1        19
3-1-4-2        22
5-3-2          22
4-5-1          32
4-2-2-2        32
4-3-1-2        34
5-4-1          45
4-1-2-1-2      73
3-4-1-2        84
3-5-2         117
3-4-3         141
4-4-1-1       190
3-4-2-1       214
4-1-4-1       223
4-4-2         447
4-3-3         775
4-2-3-1      1372
Name: home_goals, dtype: int64

In [ ]:
training_data['formation'] = training_data['formation'].str.replace('-d', '')
test_data['formation'] = test_data['formation'].str.replace('-d', '')

<ipython-input-11-4f9ea3789b87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_data['formation'] = training_data['formation'].str.replace('-d', '')
<ipython-input-11-4f9ea3789b87>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['formation'] = test_data['formation'].str.replace('-d', '')

In [ ]:
training_data['away formation'] = training_data['away formation'].str.replace('-d', '')
test_data['away formation'] = test_data['away formation'].str.replace('-d', '')

<ipython-input-12-ebabd6cf8a7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_data['away formation'] = training_data['away formation'].str.replace('-d', '')
<ipython-input-12-ebabd6cf8a7a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['away formation'] = test_data['away formation'].str.replace('-d', '')

In [ ]:
test_data['formation'].unique()

array(['3-5-2', '4-2-3-1', '4-4-2', '3-4-2-1', '4-1-4-1', '4-3-3',
       '5-3-2', '3-3-3-1', '4-4-1-1', '3-4-3', '5-4-1', '4-3-2-1',
       '3-4-1-2', '4-2-2-2', '4-5-1', '4-3-1-2', '4-1-2-1-2', '3-1-4-2'],
      dtype=object)

In [ ]:
df1 = training_data.copy()
df_sim = test_data.copy()

In [ ]:
print(type(df1['away formation'][0]))

<class 'str'>

In [ ]:
if df1['away formation'].dtype == 'str':
    print("All entries in 'away formation' column are strings.")
else:
    print("Not all entries in 'away formation' column are strings.")

Not all entries in 'away formation' column are strings.

In [ ]:

for i in range(len(df1)):
    if type(df1.loc[i, 'away formation']) != str:
        print(i)

165

In [ ]:
df1 = df1.drop(df1.index[165])

In [ ]:
df1 = df1.reset_index(drop=True)  # Reset the index labels

for i in range(len(df1)):
    if type(df1.loc[i, 'away formation']) != str:
        print(i)

In [ ]:
def distribute_ratings(formation, total_rating):
    # Split the formation string into a list of numbers
    positions = formation.split('-')

    # Create a list to store the number of players in each position
    num_players = [int(p) for p in positions]

    # Calculate the total number of players
    total_players = sum(num_players)

    # Calculate the percentage of the total rating for each position
    ratings = [total_rating * (num / total_players) for num in num_players]

    return ratings

position_ratings = distribute_ratings('3-5-2', 760)

In [ ]:
type(position_ratings)

position_ratings

[228.0, 380.0, 152.0]

## applying personal transformation where the tota player ratings are distributed into defence, mid, att by number of players in formation to both training and test(sim) data

### for training data

In [ ]:
# Iterate over each row in sim_data
for index, row in df1.iterrows():
    # Extract the formation and ratings for home team
    home_formation = row['formation']
    home_defense = row['defence rating']
    home_midfield = row['midfield rating']
    home_attack = row['attack rating']
    total_home_rating = home_defense + home_midfield + home_attack

    # Calculate the distributed ratings for home team
    home_ratings = distribute_ratings(home_formation, int(total_home_rating))
    home_defense_rating = home_ratings[0]
    home_midfield_rating = sum(home_ratings[1:-1])
    home_attack_rating = home_ratings[-1]

    # Extract the formation and ratings for away team
    away_formation = row['away formation']
    away_defense = row['away defence rating']
    away_midfield = row['away midfield rating']
    away_attack = row['away attack rating']
    total_away_rating = away_defense + away_midfield + away_attack

    # Calculate the distributed ratings for away team
    away_ratings = distribute_ratings(away_formation, total_away_rating)
    away_defense_rating = away_ratings[0]
    away_midfield_rating = sum(away_ratings[1:-1])
    away_attack_rating = away_ratings[-1]

    # Update the sim_data DataFrame with the redistributed ratings
    df1.at[index, 'defence rating'] = int(home_defense_rating)
    df1.at[index, 'midfield rating'] = int(home_midfield_rating)
    df1.at[index, 'attack rating'] = int(home_attack_rating)
    df1.at[index, 'away defence rating'] = int(away_defense_rating)
    df1.at[index, 'away midfield rating'] = int(away_midfield_rating)
    df1.at[index, 'away attack rating'] = int(away_attack_rating)

### for testing data (sim)

In [ ]:
# Iterate over each row in sim_data
for index, row in df_sim.iterrows():
    # Extract the formation and ratings for home team
    home_formation = row['formation']
    home_defense = row['defence rating']
    home_midfield = row['midfield rating']
    home_attack = row['attack rating']
    total_home_rating = home_defense + home_midfield + home_attack

    # Calculate the distributed ratings for home team
    home_ratings = distribute_ratings(home_formation, int(total_home_rating))
    home_defense_rating = home_ratings[0]
    home_midfield_rating = sum(home_ratings[1:-1])
    home_attack_rating = home_ratings[-1]

    # Extract the formation and ratings for away team
    away_formation = row['away formation']
    away_defense = row['away defence rating']
    away_midfield = row['away midfield rating']
    away_attack = row['away attack rating']
    total_away_rating = away_defense + away_midfield + away_attack

    # Calculate the distributed ratings for away team
    away_ratings = distribute_ratings(away_formation, total_away_rating)
    away_defense_rating = away_ratings[0]
    away_midfield_rating = sum(away_ratings[1:-1])
    away_attack_rating = away_ratings[-1]

    # Update the sim_data DataFrame with the redistributed ratings
    df_sim.at[index, 'defence rating'] = int(home_defense_rating)
    df_sim.at[index, 'midfield rating'] = int(home_midfield_rating)
    df_sim.at[index, 'attack rating'] = int(home_attack_rating)
    df_sim.at[index, 'away defence rating'] = int(away_defense_rating)
    df_sim.at[index, 'away midfield rating'] = int(away_midfield_rating)
    df_sim.at[index, 'away attack rating'] = int(away_attack_rating)

# encoding formation column using target encoding

In [ ]:
# autos["make_encoded"] = autos.groupby("make")["price"].transform("mean")

df1['formation'] = df1.groupby("formation")["home_goals"].transform("mean")
df1['away formation'] = df1.groupby("away formation")["away_goals"].transform("mean")

In [ ]:
df_sim['formation'] = df_sim.groupby("formation")["home_goals"].transform("mean")
df_sim['away formation'] = df_sim.groupby("away formation")["away_goals"].transform("mean")

In [ ]:
df1.drop('season', axis=1, inplace=True)

In [ ]:
df1.head()

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,1.714286,83,229,382,153,730,647,1.253633,75,317,397,79,791,747,1,2,5,19
1,Leicester City,Everton,1.280802,74,278,278,139,715,704,1.253633,82,271,339,67,696,694,2,2,6,7
2,Queens Park Rangers,Hull City,1.135922,75,222,370,148,675,767,1.297297,74,226,452,75,698,737,0,1,28,22
3,Stoke City,Aston Villa,1.614118,82,299,374,74,751,719,1.253633,78,292,365,73,717,762,0,1,17,14
4,West Bromwich Albion,Sunderland,1.233766,78,288,360,72,724,720,1.067901,74,299,374,74,756,727,2,2,15,21

## getting data ready for trainging

In [ ]:
y_home_goals = df1['home_goals'].to_numpy()

y_away_goals = df1['away_goals'].to_numpy()

x_tree_based = df1.drop(['home_goals', 'away_goals', 'home_team', 'away_team'], axis=1).to_numpy()
x_tree_based

array([[  1.71428571,  83.        , 229.        , ..., 747.        ,
          5.        ,  19.        ],
       [  1.28080229,  74.        , 278.        , ..., 694.        ,
          6.        ,   7.        ],
       [  1.13592233,  75.        , 222.        , ..., 737.        ,
         28.        ,  22.        ],
       ...,
       [  1.64615385,  75.        , 227.        , ..., 740.        ,
         24.        ,  13.        ],
       [  1.61411765,  81.        , 312.        , ..., 741.        ,
          8.        ,   9.        ],
       [  1.13592233,  84.        , 231.        , ..., 691.        ,
         18.        ,   5.        ]])

## model training

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

weak_learner_final = DecisionTreeClassifier(max_depth=3)

adaBoost_clf_home_goals_final = AdaBoostClassifier(n_estimators=250, learning_rate = 0.08, random_state=0,base_estimator=weak_learner_final)
adaBoost_clf_away_goals_final = AdaBoostClassifier(n_estimators=250, learning_rate = 0.08, random_state=0,base_estimator=weak_learner_final)

adaBoost_clf_home_goals_final.fit(x_tree_based,y_home_goals)
adaBoost_clf_away_goals_final.fit(x_tree_based,y_away_goals)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3),
                   learning_rate=0.08, n_estimators=250, random_state=0)

# Simulating for 2021 season

In [ ]:
df_sim.drop('season', axis=1, inplace=True)

In [ ]:
df_sim

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,home_team_encoded,away_team_encoded
2562,Brentford,Arsenal,1.076923,74,222,370,148,769,758,1.500000,83,282,353,70,707,720,2,0,27,2
2563,Manchester United,Leeds United,1.710843,84,332,415,83,820,758,1.347826,77,325,407,81,770,801,5,1,5,23
2564,Burnley,Brighton & Hove Albion,1.044444,83,308,308,154,748,744,1.347826,76,306,382,76,777,732,1,2,13,16
2565,Chelsea,Crystal Palace,2.354839,83,244,489,81,779,691,0.913043,80,316,316,158,726,756,3,0,4,11
2566,Everton,Southampton,1.710843,83,318,398,79,785,724,0.913043,75,309,309,154,723,731,3,1,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Watford,Leicester City,1.677083,78,283,212,212,674,691,1.347826,74,293,366,73,669,665,1,5,12,6
2934,West Ham United,Manchester City,1.710843,82,317,397,79,763,710,1.488372,89,308,231,231,741,690,2,2,8,0
2935,Wolverhampton Wanderers,Norwich City,2.354839,70,236,472,78,748,673,1.558824,72,222,444,74,713,601,1,1,18,20
2936,Everton,Brentford,1.315789,83,231,309,231,732,738,1.488372,74,312,234,234,736,711,2,3,7,27
2937,Newcastle United,Arsenal,1.677083,81,302,226,226,744,717,1.500000,74,296,371,74,704,734,2,0,10,2

### counting total matches played by each team

In [ ]:
column_count = df_sim['home_team'].value_counts()

print(column_count)

Newcastle United           20
Manchester United          20
Tottenham Hotspur          20
Watford                    20
Brentford                  19
Wolverhampton Wanderers    19
Leeds United               19
West Ham United            19
Norwich City               19
Leicester City             19
Everton                    19
Burnley                    19
Aston Villa                18
Crystal Palace             18
Chelsea                    18
Manchester City            18
Brighton & Hove Albion     18
Southampton                18
Arsenal                    18
Liverpool                  18
Name: home_team, dtype: int64

# *SIMULATING*

In [ ]:

# Create a dictionary to store team information
teams = {}

# Create an empty list to store the fixtures results
fixtures_results = {}

# Iterate over each match
for index, row in df_sim.iterrows():
    home_team = row['home_team']
    away_team = row['away_team']

    # Check if the home team exists in the dictionary
    if home_team not in teams:
        teams[home_team] = {'points': 0, 'goals_scored': 0, 'goals_against': 0, 'games_played': 0}

    # Check if the away team exists in the dictionary
    if away_team not in teams:
        teams[away_team] = {'points': 0, 'goals_scored': 0, 'goals_against': 0, 'games_played': 0}

    # Prepare input matrix for home team prediction
    home_input = np.array([
        row['formation'], row['gk rating'], row['defence rating'], row['midfield rating'],
        row['attack rating'], row['net stamina'], row['net physicallity'],
        row['away formation'], row['away gk rating'], row['away defence rating'],
        row['away midfield rating'], row['away attack rating'], row['away net stamina'],
        row['away net physicallity'],
        row['home_team_encoded'], row['away_team_encoded']
    ]).reshape(1, -1)

    # Prepare input matrix for away team prediction
    away_input = np.array([
        row['formation'], row['gk rating'], row['defence rating'], row['midfield rating'],
        row['attack rating'], row['net stamina'], row['net physicallity'],
        row['away formation'], row['away gk rating'], row['away defence rating'],
        row['away midfield rating'], row['away attack rating'], row['away net stamina'],
        row['away net physicallity'],
        row['home_team_encoded'], row['away_team_encoded']
    ]).reshape(1, -1)

    # Predict goals for home team using goal_predictor_home model
    home_goals = adaBoost_clf_home_goals_final.predict(home_input)

    # Predict goals for away team using goal_predictor_away model
    away_goals = adaBoost_clf_away_goals_final.predict(away_input)

    # Update team statistics
    teams[home_team]['goals_scored'] += home_goals
    teams[home_team]['goals_against'] += away_goals
    teams[away_team]['goals_scored'] += away_goals
    teams[away_team]['goals_against'] += home_goals

    # Update games played
    teams[home_team]['games_played'] += 1
    teams[away_team]['games_played'] += 1

    # Determine the match result and update points
    if home_goals > away_goals:
        teams[home_team]['points'] += 3
    elif home_goals < away_goals:
        teams[away_team]['points'] += 3
    elif home_goals == away_goals:
        teams[home_team]['points'] += 1
        teams[away_team]['points'] += 1

    fixtures_results[index] = {
        'home_team': home_team,
        'away_team': away_team,
        'home_goals': home_goals[0],
        'away_goals': away_goals[0]
    }


# Create a DataFrame from the teams dictionary
team_table = pd.DataFrame.from_dict(teams, orient='index')
team_table.index.name = 'Team'

# Sort the table by points in descending order
team_table = team_table.sort_values(by='points', ascending=False)

print(team_table)

                         points goals_scored goals_against  games_played
Team
Manchester City              81         [73]          [31]            38
Liverpool                    78         [73]          [27]            37
Manchester United            71         [50]          [32]            38
Tottenham Hotspur            68         [46]          [28]            38
Leicester City               68         [48]          [31]            37
Everton                      62         [49]          [40]            37
Aston Villa                  57         [56]          [47]            37
Newcastle United             54         [49]          [51]            38
Southampton                  53         [44]          [46]            37
Chelsea                      51         [51]          [50]            37
Crystal Palace               48         [42]          [44]            37
Arsenal                      48         [44]          [40]            38
Burnley                      44         [45]          [49]            37
Leeds United                 41         [43]          [58]            38
Brighton & Hove Albion       36         [32]          [44]            38
Wolverhampton Wanderers      35         [34]          [45]            38
West Ham United              34         [38]          [50]            38
Norwich City                 30         [33]          [65]            38
Watford                      25         [32]          [63]            38
Brentford                    23         [24]          [65]            38

In [ ]:
##